

<div class="row">
	<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="single-featured-cars">
			<div class="featured-img-box">
				<div class="featured-cars-img">
					<img src="@Model.ImgPath" alt="cars">
				</div>
				<div class="featured-model-info">
					<p>
						@Model.Model
						<span class="featured-mi-span">3100 mi</span>
						<span class="featured-hp-span">240HP</span>
						@Model.Type
					</p>
				</div>
			</div>
			<div class="featured-cars-txt">
				<h2><a href="#">@Model.Title</a></h2>
				<h3>$@Model.Price</h3>
				<p>@Model.Description</p>
			</div>
		</div>
	</div>
</div>
